{% extends 'layout.html' %}
{% block content %}
<div class='container'>
    <div class='row mt-5'>
        <div class='col-sm-2'></div>
            <div class='col-sm-8' text='center'>

                <h6>"Calorimetry is the science associated with determining the changes in energy of a system by measuring the heat exchanged with the surroundings."  In our experiment we used calorimetry to find out how much energy is contained in a particular edible thing, like a marshmallow, or a pistachio or some cheetos for example.  We did this by measuring the change in temperature of an amount of water when the particular edible thing that we were testing was burned underneath it.</h6>

            </div>
    </div>
</div>
{% endblock content %}